---
layout: base/index.njk
---

<aside class="hero">
  <img src="/eleventy/layouts/home/banner.png" alt="Hero image featuring the 'Scope" />
  <p>প্রায়শ কৌতুকপূর্ণ, সবিরাম প্রকাশিত</p>
  <hr />
</aside>

<main class="features">
  <ul>
    <li>
      <a href="/hjbrl/peristan">
        <img src="/hjbrl/peristan/bog-plants.jpg" alt="Not really a relevant illustration" />
        <hgroup class="attribution">
          <h1 class="author">পেরিস্তান</h1>
          <h3 class="illustrator">লেখকঃ গোগোল</h3>
        </hgroup>
      </a>
    </li>
  </ul>
</main>
