<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/logo.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="The Footoscope Zine" />

    <title>{{ pageTitle or global.name }}</title>

    <link rel="stylesheet" type="text/css" href="/eleventy/layouts/base/index.css" />
    {% block head %}
    {% endblock %}
  </head>

  <body>
    <header></header>
    {{ content | safe }}
    <scope-hr></scope-hr>
    <footer>আয় তোর মুন্ডুটা দেখি! · CC-BY-NC</footer>
    <script type="module" src="/eleventy/layouts/base/index.js"></script>
  </body>
</html>