@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  /* background: #00000005; */
}

:root {
  /* base unit */
  font-size: 16px;

  /* Small viewport is the default */

  /* Scale */
  --f-2: 0.64rem;
  --f-1: 0.8rem;
  --f0: 1rem;
  --f1: 1.25rem;
  --f2: 1.563rem;
  --f3: 1.953rem;
  --f4: 2.441rem;
  --f5: 3.052rem;
  --f6: 3.815rem;

  /* Type system */
  --type-headline-bn-line-height: 0.8em;
  --type-headline-1-size: var(--f5);
  --type-headline-1-weight: 500;
  --type-headline-2-size: var(--f4);
  --type-headline-2-weight: 600;
  --type-headline-3-size: var(--f3);
  --type-headline-3-weight: 700;
  --type-headline-4-size: var(--f2);
  --type-headline-4-weight: 700;
  --type-headline-5-size: var(--f1);
  --type-headline-5-weight: 700;
  --type-subheadline-1-size: var(--f2);
  --type-subheadline-1-weight: 300;
  --type-subheadline-2-size: var(--f1);
  --type-subheadline-2-weight: 300;
  --type-subheadline-3-size: var(--f0);
  --type-subheadline-3-weight: 300;
  --type-subheadline-4-size: var(--f-1);
  --type-subheadline-4-weight: 300;
  --type-body-bn-line-height: 1.6em;
  --type-body-1-size: var(--f1);
  --type-body-1-weight: 400;
  --type-body-2-size: var(--f0);
  --type-body-2-weight: 400;
  --type-caption-size: var(--f-1);
  --type-caption-weight: 300;
  --type-overline-size: var(--f-2);
  --type-overline-weight: 700;

  /* Type defaults */
  font-family: 'Hind Siliguri', cursive, serif;
  line-height: var(--type-body-bn-line-height);

  /* Layout system */
  --layout-truck-width: 100%;
  --layout-spread-width: 100%;
  --layout-content-padding: max(var(--f3), calc((100vw - 400px) / 2));

  /* Medium Viewport Overrides */
  @media (2000px > width >= 1000px) {
    /* base unit */
    font-size: clamp(
      16px,
      calc(16px + 4 * (100vw - 1000px) / (2000 - 1000)),
      calc(16px + 4px)
    );

    /* scale */
    --f-2: 0.6rem;
    --f-1: 0.75rem;
    --f0: 1rem;
    --f1: 1.333rem;
    --f2: 1.777rem;
    --f3: 2.369rem;
    --f4: 3.157rem;
    --f5: 4.209rem;
    --f6: 5.61rem;

    /* Type system  */
    --type-body-bn-line-height: clamp(
      1.6em,
      calc(1.6em + 0.1 * (100vw - 1000px) / (2000 - 1000)),
      calc(1.6em + 0.1)
    );

    /* Layout system */
    --layout-truck-width: 50%;
    --layout-spread-width: 75%;
    --layout-content-padding: clamp(
      64px,
      calc(64px + 96 * (100vw - 1000px) / (2000 - 1024)),
      calc(64px + 96px)
    );
  }

  /* Large Viewport Overrides */
  @media (width >= 2000px) {
    /* base unit */
    font-size: 24px;

    /* Scale */
    --f-2: 0.7rem;
    --f-1: 0.8rem;
    --f0: 1rem;
    --f1: 1.414rem;
    --f2: 2rem;
    --f3: 2.827rem;
    --f4: 4rem;
    --f5: 5.653rem;
    --f6: 8rem;

    /* Type system  */
    --type-body-bn-line-height: 1.8em;

    /* Layout system */
    --layout-truck-width: calc(2000px * 0.5);
    --layout-spread-width: calc(2000px * 0.75);
    --layout-content-padding: calc(64px + 96px);
  }
}

/* Type mixins */
@define-mixin type $name {
  font-size: var(--type-$(name)-size, 1em);
  font-weight: var(--type-$(name)-weight, 400);
}

@define-mixin flex-row {
  display: flex;
  flex-flow: row wrap;
  place-items: center;
  place-content: center;
}

@define-mixin flex-column {
  display: flex;
  flex-flow: column;
  place-items: center;
  place-content: center;
}

body {
  min-height: 100vh;
  @mixin flex-column;

  & > header {
  }

  & > footer {
    width: var(--layout-truck-width);
    padding: var(--f2);
    @mixin type caption;
    text-align: center;
  }
}

article {
  @mixin flex-column;
  @mixin type body-2;

  & > * {
    width: 100%;
  }
}

hgroup,
h1,
h2,
h3,
h4,
h5,
h6,
blockquote,
figcaption {
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: var(--type-headline-bn-line-height);
}

h1 {
  @mixin type headline-3;
}

h2 {
  @mixin type headline-4;
}

h3 {
  @mixin type headline-5;
}

p {
  margin-bottom: 1em;
}

figcaption {
  @mixin type caption;
}

hr {
  border-width: 1px 0;
  width: 25%;
  align-self: center;
}

a {
  color: inherit;
}

body {
  & > header {
  }

  & > aside.hero {
    width: var(--layout-spread-width);
    @mixin flex-column;
    overflow: hidden;

    img {
      width: 200%;
      height: auto;
      margin: -4% 0 -17% 0;
    }

    p {
      margin: var(--f2);
    }

    @media (width >= 1000px) {
      img {
        width: 160%;
        margin: -10% 0 -14% 0;
      }
      p {
        margin: var(--f4);
      }
    }
  }

  & > main.features {
    width: var(--layout-spread-width);
    flex-grow: 1;
    margin: var(--f6) 0;

    & > ul {
      margin: 0;
      padding: 0 var(--layout-content-padding);
      @mixin flex-row;
      grid-gap: var(--f2);
      list-style-type: none;

      @media (width >= 1000px) {
        padding: 0;
        flex-flow: row wrap;
      }

      & > li {
        width: 80%;
        @mixin flex-column;

        @media (width >= 1000px) {
          width: 30%;
        }

        & > a {
          padding: var(--f0);
          text-decoration: none;
        }
      }

      img {
        width: 8rem;
        height: 8rem;
        border-radius: 50%;
        border: 1px solid black;
        object-fit: cover;
      }

      hgroup {
        margin-top: var(--f0);
        @mixin flex-column;
        grid-gap: var(--f-2);
        opacity: 80%;

        h1 {
          @mixin type headline-3;
        }

        h3 {
          @mixin type subheadline-4;
          &::before,
          &::after {
            content: '—';
            margin: 0 0.5ch;
          }
        }
      }
    }
  }

  & > main.story {
    width: var(--layout-truck-width);
    flex-grow: 1;
    margin: var(--f6) 0;

    & > article {
      & > * {
        padding: 0 var(--layout-content-padding);
      }

      .cover {
        padding: 0;

        img {
          width: 100%;
          height: auto;
        }
      }

      & > hgroup {
        margin: var(--f6) 0;
        opacity: 80%;

        h1 {
          @mixin type headline-2;
        }

        h3 {
          @mixin type subheadline-3;
          &::before,
          &::after {
            content: '—';
            margin: 0 0.5ch;
          }
        }
      }
    }
  }

  & > aside.decor {
  }

  & > footer {
    width: var(--layout-truck-width);
    padding: var(--f2);
    @mixin type caption;
    text-align: center;
  }
}
